<div id='signup' ng-controller="AuthController">
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' name="username" 
      ng-model='user.username' 
      ng-class="{ 'error' : signupForm.username.$invalid && signupForm.username.$touched }" 
      ng-minlength="3" required >
        <p ng-show="signupForm.username.$invalid && signupForm.username.$touched">
          Enter a username with at least 3 characters
        </p>
    
    <input type="password" name="password" 
      ng-model='user.password' 
      ng-class="{ 'error' : signupForm.password.$invalid && signupForm.password.$touched }" 
      required >
        <p ng-show="signupForm.password.$invalid && signupForm.password.$touched">
          You must enter a password
        </p>
    
    <button type="submit" ng-disabled="signupForm.$invalid">signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
